@media screen and (max-width: 768px) {
  
.card {
  flex-direction: column;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 80vw;
  height: auto;
}

.img-container {
  width: 80vw;
  height: 35vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  background-position: bottom;
}

main {
  width: 100%;
  height: 65vh;
  background-color: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.description {
  padding: 55px 65px 55px 55px;
}

h2 {
  font-size: 26px;
}

.description p {
  margin-top: 20px;
  line-height: 1.8;
  font-size: 19px;
}

.avatar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 26px;
}

.avatar .user-img {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-right: 20px;
}

.avatar .details h3 {
  font-size: 16px;
}

.avatar .details p {
  font-size: 14px;
}

.share-icon-container {
  display: none;
}

.social img {
  cursor: pointer;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  margin: 0 auto;
}



/* mobile */

.share-icon-container-mobile {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: hsl(210, 46%, 95%);
}

.share-icon-mobile {
  width: 18px;
  height: 18px;
}

.share-container-mobile {
  position: absolute;
  bottom: 0px;
  display: none;
}

.close-share-icon-container-mobile {
  width: 50px;
  height: 50px;
  margin-left: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: hsl(212, 23%, 69%);
}

.social-mobile {
  box-sizing: border-box;
  padding: 0 10px;
  width: 80vw;
  height: 100px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(217, 19%, 35%);
}

.social-mobile p {
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 5px;
}

.social-mobile img {
  cursor: pointer;
  transform: scale(1.2);
}

}

@media screen and (max-width: 600px) {
  
.img-container {
  height: 40vh;
}

main {
  height: 60vh;
}

  .description {
    padding: 45px 50px 0px 50px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  .description p {
    margin-top: 15px;
    line-height: 1.8;
    font-size: 17px;
  }
  
}

@media screen and (max-width: 500px) {

  .img-container {
    height: 40vh;
  }
  
  main {
    height: 55vh;
  }  

  .description {
    padding: 45px 35px 0px 35px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  .description p {
    font-size: 16px;
  }
  
  .avatar .user-img {
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-right: 15px;
  }

  .avatar .details h3 {
    font-size: 14px;
  }

  .avatar .details p {
    font-size: 13px;
  }

  .share-icon-container-mobile {
    width: 40px;
    height: 40px;
    margin-right: 45px;
  }

  .social-mobile {
    padding: 0 25px;
    height: 85px;
  }
  
  .social-mobile p {
    color: white;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px;
  }

  .social-mobile img {
    transform: scale(1);
  }

  .close-share-icon-container-mobile {
    width: 40px;
    height: 40px;
    margin-left: 80px;
  }


}

@media screen and (max-width: 400px) {
  
  .card {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 90vw;
  }  
    
.img-container {
  height: 35vh;
  width: 90vw;
}

main {
  height: 55vh;
}

  .description {
    padding: 45px 30px 0px 30px;
  }
  
  h2 {
    font-size: 17px;
    line-height: 1.6;
  }
  
  .description p {
    font-size: 14px;
  }

  .avatar {
    padding-bottom: 22px;
  }
  
  .avatar .user-img {
    margin-left: 30px;
    margin-right: 12px;
  }

  .share-icon-container-mobile {
    width: 40px;
    height: 40px;
    margin-right: 39px;
  }

  .social-mobile {
    padding: 0 25px;
    height: 84px;
    width: 90vw;
  }
  
  .social-mobile p {
    color: white;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px;
  }

  .social-mobile img {
    transform: scale(1);
  }

  .close-share-icon-container-mobile {
    width: 40px;
    height: 40px;
    margin-left: 35px;
  }


}